html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #FFF;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#view {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100vh;
}

section#action {
  
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  
  div.tick {
    flex: 1;
  }
  
  div.caption {
    position: absolute;
    z-index: 1000;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    color: white;
    right: 30px;
    h3, p, img, .picture-caption {
      width: 275px;
    }
    .picture-caption {
      font-size: 14px;
      font-style: italic;
      text-align: left;
    }
  }    
}
